<div class="container-fluid fill" >
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Hiring Hut
                </a>
            </div>
            </div>
        </nav>
    </div>
    <div class="row fill">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 search-panel">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <h4>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <h4>Buscar</h4>
                <h4>
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </h4>
                <form>
                    <div class="form-group">
                    <label for="termino">Termino de busqueda</label>
                    <input type="text" class="form-control" id="termino">
                    </div>
                    <div class="form-group">
                    <label for="nom">Nombre y Apellido</label>
                    <input type="text" class="form-control" id="nom">
                    </div>
                    <div class="form-group">
                    <label for="puesto">Puesto</label>
                    <input type="text" class="form-control" id="puesto">
                    </div>
                    <div class="form-group">
                    <label for="empleo">Empleo</label>
                    <input type="text" class="form-control" id="empleo">
                    </div>
                    <div class="form-group">
                    <label for="ubicacion">Ubicación</label>
                    <input type="text" class="form-control" id="ubicacion">
                    </div>
                    <div class="form-group">
                    <label for="termino">Termino de busqueda</label>
                    <input type="text" class="form-control" id="termino">
                    </div>
                    <select class="form-control">
                        <option>Agregar Criterio</option>						
                    </select>
                </form>

            </div>				
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <h4>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>					
                </h4>
            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 clear-padding">
            <div class="profile-item clearfix">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                        </label>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">                    
                    <img src="/assets/img/profile-pic.png" class="img-circle" alt="">
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <h2><strong>Sofia Gonzalez</strong> <small>(31 años)</small></h2>
                    <h4>Java Developer / Cordoba</h4>
                    <h4>$30000 / $35000<span class="small glyphicon glyphicon-question-sign" aria-hidden="true"></span></h4>
                    <h4>Canonical Inc. <small>(2014~2016)</small></h4>
                    <h4>Antergos <small>(2012~2013)</small></h4> 
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right">
                    <div class="social-icons">
                        <small>Ultima actualización 09/10/2016</small>
                        <img src="/assets/img/ct-icon.png" alt="">
                        <img src="/assets/img/le-icon.png" alt="">
                        <img src="/assets/img/ct-icon.png" alt="">
                        <img src="/assets/img/le-icon.png" alt="">
                    </div>
                    <select class="form-control pull-right form-muted link-job-select input-lg">
                        <option>Vincular a trabajo</option>						
                    </select>
                </div>
            </div>
        </div>
    </div>		
</div>