html,body,.fill{
	height: 100%;
}

.navbar{
	margin-bottom: 0px;
}
.search-panel{
	background-color: #eeeeee;
	border-right: #bbbbbb solid 2px;
	height: 100%;
	padding-top: 20px;
}

.thumbnails-panel{
	border-left: #bbbbbb solid 2px;
	height: 100%;
	text-align: center;
	padding-top: 20px;
}
.thumb-container{
	margin-bottom: 10px;
}

.profile-data{
	margin-top:30px;
}

.profile-stats .progress{
	margin-bottom: 3px;
}

.progress-bar-default {
    background-color: #888888;
}

.form-muted{
	background-color: #f5f5f5;
}
.profile-item{
	padding: 20px 10px 20px 10px;
	border: solid black 2px;
}

.social-icons{
	margin-bottom: 15px;
}

.clear-padding{
	padding:0px;
}

.link-job-select{
	width: 300px;
}

.profile-item h4{
	margin-bottom: 15px;
}

.last-updated{
	margin-right: 20px;
	letter-spacing: 1px;
}

.profile-item:nth-child(even){
	background-color: #eeeeee;
}

.profile-selector{
	padding: 35px 0 30px 0;
	vertical-align: middle;
    line-height: 45px;
}