<div class="container-fluid fill" >
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Hiring Hut
                </a>
            </div>
            </div>
        </nav>
    </div>
    <div class="row fill">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 search-panel">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <h4>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <h4>Buscar</h4>
                <h4>
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </h4>
                <form>
                    <div class="form-group">
                    <label for="termino">Termino de busqueda</label>
                    <input type="text" class="form-control" id="termino">
                    </div>
                    <div class="form-group">
                    <label for="nom">Nombre y Apellido</label>
                    <input type="text" class="form-control" id="nom">
                    </div>
                    <div class="form-group">
                    <label for="puesto">Puesto</label>
                    <input type="text" class="form-control" id="puesto">
                    </div>
                    <div class="form-group">
                    <label for="empleo">Empleo</label>
                    <input type="text" class="form-control" id="empleo">
                    </div>
                    <div class="form-group">
                    <label for="ubicacion">Ubicación</label>
                    <input type="text" class="form-control" id="ubicacion">
                    </div>
                    <div class="form-group">
                    <label for="termino">Termino de busqueda</label>
                    <input type="text" class="form-control" id="termino">
                    </div>
                    <select class="form-control">
                        <option>Agregar Criterio</option>						
                    </select>
                </form>

            </div>				
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <h4>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>					
                </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <img src="/assets/img/profile-pic.png" class="img-circle" alt="">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>
                            <strong>Sofia Gonzalez</strong> <small>(31 años)</small>
                            <span class="pull-right">
                                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                            </span>
                        </h2>
                        <hr>
                        <div class="row">                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 3516454258</h4>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>Java Developer</h4>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> sofiagonzalez@gmail.com</h4>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>Cordoba, Argentina</h4>
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select class="form-control">
                                    <option>Vincular a trabajo</option>						
                                </select>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <h4>$30000 / $35000<span class="small glyphicon glyphicon-question-sign" aria-hidden="true"></span></h4>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profile-data">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Experiencia</h2>
                            <hr>
                            <h4>Canonical Inc. <small>(2014~2016)</small><span class="pull-right"><span class="small glyphicon glyphicon-pencil" aria-hidden="true"></span></span></h4>
                            <h4 class="text-muted">Senior Java/J2EE Developer</h4>
                            <h4>Red Hat <small>(2013~2014)</small></h4>
                            <h4>Antergos <small>(2012~2013)</small></h4>                            
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <h2>Educaction</h2>
                            <hr>
                            <h4>Canonical Inc. <small>(2014~2016)</small><span class="pull-right"><span class="small glyphicon glyphicon-pencil" aria-hidden="true"></span></span></h4>
                        
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="well">
                        <h3>Salario</h3>
                        <p>Actual<span class="pull-right"><strong class="lead">$30.000</strong></span></p>
                        <p>Pretendido <span class="pull-right"><strong class="lead">$35.000</strong></span></p>
                        <h3>Motivo de Rechazo</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                        <h3>Informe</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 thumbnails-panel">
            <div class="thumb-container" *ngFor="let thumb of thumbnails">                
                <img src="/assets/img/thumb.png">
            </div>
        </div>
    </div>		
</div>